/*
Charte graphique 
  coleur princiaple bleu : #0065fc; 
  coleur grise : #f2f2f2;

*/

/*=======GLOBAL STYLE======*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

:root {
  --bluecolor: #0065fc;
  --greycolor: #f2f2f2;
  --greydarkcolor: #d9d9d9;
}

html,
body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

/*=======HEADER========*/

header {
  margin: 25px;
  padding: 25px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  float: left;
  height: 50px;
  width: 50px;
}

.main-nav {
  float: right;
  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin-left: 80px;
}

.main-nav a {
  text-decoration: none;
  color: #000;
}

.main-nav .location {
  color: var(--bluecolor);
}

.main-nav .location::before {
  content: "";
  border-top: 1px solid var(--bluecolor);
  width: 165px;
  height: 10px;
  position: absolute;
  top: 2px;
  right: 320px;
}

.main-nav .signin {
  color: var(--bluecolor);
  font-weight: bold;
}

.min-signup {
  display: none;
}

/*=====Header paragraphe======*/

.main-container {
  position: relative;
  top: 61px;
}

.main-container h1 {
  font-size: 25px;
}
.main-container .min-h1 {
  display: none;
}

.main-container p {
  margin-top: 25px;
}

/*=====Search Button========*/

.search-container {
  margin-top: 80px;
}

.btn-1 .gps {
  background-color: var(--greycolor);
  height: 50px;
  width: 50px;
  margin: 0px;
  line-height: 50px;
  text-align: center;
  font-size: 1.2rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btn-1 .search {
  position: relative;
  right: 5px;
  margin-right: 0px;
  width: 235px;
  height: 50px;
  border: 1px solid var(--greycolor);
  font-size: 18px;
  font-weight: bold;
}

input::placeholder {
  position: relative;
  left: 10px;
  color: #000;
}

.search:focus {
  outline: none; /*Permet d'enlever les bordures par défaut*/
}

.btn-2 {
  margin-left: -10px;
  width: 135px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  line-height: 50px;
  background-color: var(--bluecolor);
  color: #fff;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.btn-2:focus {
  outline: none;
}

.btn-2-min {
  display: none;
}

/*=======Catégories filtre======*/

.filter-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.filter-container h1 {
  font-size: 20px;
}

.filter-mini {
  display: flex;
}

.filter-categories {
  margin-left: 25px;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  width: 185px;
  height: 50px;
}

.filter-categories:hover {
  transition: 0.5s;
  background: #deebff;
  border: none;
}
.filter-categories .filter-icons {
  background-color: #deebff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: var(--bluecolor);
}

.filter-categories .filter-details {
  text-decoration: none;
  color: #000;
  margin-left: 10px;
  font-weight: bold;
}

.filter-details:hover {
  color: var(--bluecolor);
}

.family {
  width: 145px;
}

.animal {
  width: 230px;
}

/*=======Header-Infos======*/

.infos {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.infos .news {
  border: 1px solid var(--greydarkcolor);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: var(--bluecolor);
}

.infos p {
  margin-left: 25px;
  font-size: 15px;
}

/*========Menu Principal Hébergements======*/

main {
  /*margin-top: 50px;*/
  margin: 0 auto;
  padding: 25px;
}

.group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

.lodgement {
  background-color: var(--greycolor);
  flex: 100%;
  height: auto;
  margin: 0 auto;
  padding: 25px;
  border-radius: 15px;
}

.lodgement h1 {
  font-size: 25px;
  margin: 25px 25px 25px;
}
.lodgement-container {
  flex: 70%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 25px;
}

.lodgements-cart {
  flex: 30%;
  margin-top: 25px;
  height: 210px;
  margin-left: 25px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 1.5px 1.5px 1.5px 1.5px var(--greydarkcolor);
}

.lodgements-cart img {
  height: 115px;
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.lodgements-details {
  display: flex;
  flex-direction: column;
}
.lodgements-details h3 {
  font-size: 15px;
  margin-left: 15px;
  margin-top: 10px;
}

.lodgements-details p {
  font-size: 15px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.price {
  font-weight: bold;
}

.star-icons {
  display: inline-block;
  position: relative;
  left: 15px;
  font-size: 12px;
}

.full {
  color: var(--bluecolor);
}

.simple {
  color: var(--greydarkcolor);
}

.other-page {
  flex: 1;
  margin-left: 25px;
  margin-top: 50px;
}

.other-page a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

/*========ASIDE==============*/

.aside {
  flex: 20%;
  height: 665px;
  background-color: var(--greycolor);
  border-radius: 10px;
  margin-left: 30px;
  padding: 20px;
}
.aside-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.aside-title h1 {
  font-size: 20px;
}

.aside-container {
  width: 340px;
  height: 145px;
  background-color: #fff;
  box-shadow: 1.5px 1.5px 1.5px 1.5px var(--greydarkcolor);
  border-radius: 15px;
  margin-top: 35px;
  margin-left: -5px;
}

.aside-cart img {
  object-fit: cover;
  width: 125px;
  height: 135px;
  margin: 5px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.cart-details {
  float: right;
  margin-top: 20px;
  margin-right: 35px;
}

.cart-details h3 {
  font-size: 18px;
}

.cart-details p {
  font-size: 15px;
}

.cart-star-icons {
  margin-top: 35px;
}

.line-1 {
  font-size: 25px;
  margin-right: 10px;
}

/*============Menu principal Activités=========*/
.activity {
  margin-top: 70px;
}

.activity-title {
  margin-bottom: 25px;
}

.activity-contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 25%;
  height: 475px;
  background-color: #fff;
  margin: 0 auto;
}

.activity-cart {
  border-radius: 10px;
  box-shadow: 1.5px 1.5px 1.5px 1.5px var(--greydarkcolor);
  background-color: #fff;
}
.activity img {
  object-fit: cover;
  height: 350px;
  width: 295px;
  margin-bottom: 25px;
  border-radius: 10px;
}

.first-cart {
  flex: 1;
  width: 23%;
}

.second-cart {
  flex: 1;
  width: 23%;
}

.activity .small {
  height: 240px;
  width: 305px;
  margin-bottom: 40px;
}

.activity .small img {
  height: 175px;
  width: 305px;
  border-radius: 10px;
}

.activity-name {
  text-align: justify;
  margin-bottom: 15px;
  margin-left: 15px;
  line-height: 7px;
}

.activity .small-light {
  height: 165px;
  width: 305px;
}

.activity .small-light img {
  height: 115px;
  width: 305px;
  border-radius: 10px;
}

.activity .mini {
  height: 185px;
  width: 300px;
  margin-bottom: 40px;
}

.activity .mini img {
  height: 140px;
  width: 300px;
  border-radius: 10px;
}

.activity .mini-light {
  width: 310px;
  height: 210px;
}

.activity .mini-light img {
  width: 310px;
  height: 155px;
  border-radius: 10px;
}

.cart-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 23%;
}

.cart-display-2 {
  flex: 1;
  width: 23%;
}

/**=======FOOTER==================*/

footer {
  width: auto;
  height: 215px;
  background-color: var(--greycolor);
}

.footer-line {
  display: flex;
  align-items: center;
}

.footer-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 50px;
}
.footer-description {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer-description-loge {
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  margin-bottom: 40px;
}

.footer-nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 300px;
  margin-bottom: 40px;
}
footer h1 {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.footer-link {
  text-decoration: none;
  margin-bottom: 12px;
  color: #000;
}
